<template>
    <b-row>
        <b-col cols="12" xl="12">
            <transition name="slide">
                <b-card no-header>
                    <template slot="header">
                        New Product Type
                    </template>
                    <b-form>
                        <b-form-group
                                label="Code"
                                label-for="code"
                                label-cols-sm="4"
                                label-cols-lg="3"
                                :invalid-feedback="validationFeedback($v.code, {
                                    required: 'Please enter product type code',
                                })"
                                :state="validationState($v.code)">
                            <b-form-input id="code" :class="validationClass($v.code)" type="text"  v-model.trim="$v.code.$model" placeholder="Enter product type code"></b-form-input>
                        </b-form-group>
                        <b-form-group
                                label="Name"
                                label-for="label"
                                label-cols-sm="4"
                                label-cols-lg="3"
                                :invalid-feedback="validationFeedback($v.label, {
                                    required: 'Please enter product type label',
                                })"
                                :state="validationState($v.label)">
                            <b-form-input id="label" :class="validationClass($v.label)" type="text"  v-model.trim="$v.label.$model" placeholder="Enter product type label"></b-form-input>
                        </b-form-group>
                        <p class="text-danger mb-4">{{errorMessage}}</p>
                    </b-form>
                    <template slot="footer">
                        <b-button variant="primary" :class="submitButtonStyle" @click="action">Submit</b-button>
                        <b-button class="ml-3" @click="back">Back</b-button>
                    </template>
                </b-card>
            </transition>
        </b-col>
    </b-row>
</template>

<script lang="ts">
    import { Component } from 'vue-property-decorator';
    import {Validation} from '@/shared/validation';
    import {validations} from './Shared';
    import { ICreate } from '@/typings/store';
    import { IProductTypeRequest } from '@/typings/backend';

    @Component({
        name: 'Create',
        validations,
    })
    export default class Create extends Validation {
        protected errorMessage: string = '';

        protected code: string = '';
        protected label: string = '';

        protected async back() {
            this.$router.go(-1);
        }

        protected async action() {
            if (this.$v && this.$v.$touch) {
                this.$v.$touch();
            }

            if (this.$v && !this.$v.$invalid) {
                this.isLoading = true;

                const request: ICreate<IProductTypeRequest> = {
                    data: {
                        code: this.code,
                        label: this.label,
                    },
                    successCb: () => this.$router.replace({path: '/productTypes'}),
                    errorCb: (error: string) => {
                        this.errorMessage = error;
                    },
                };
                await this.$store.dispatch('createProductType', request);
            }
        }
    }
</script>
