<template>
    <b-row>
        <b-col cols="12" lg="12">
            <b-card no-header>
                <template slot="header">
                    Product Type ID: <strong>{{ this.productTypeId }}</strong>
                </template>
                <b-form>
                    <b-table striped small fixed responsive="sm" :items="items" thead-class="hidden_header">
                        <template slot="key" slot-scope="data">
                            <span v-if="data.item.key === keyLabel.label">Name</span>
                            <span v-else>{{data.item.key}}</span>
                        </template>
                        <template slot="value" slot-scope="data">
                            <strong v-if="!isEditable(data.item.key) && (data.item.key === keyLabel.code || data.item.key === keyLabel.label)">{{data.item.value.v}}</strong>
                            <strong v-if="!isEditable(data.item.key) && (data.item.key === keyLabel.createdAt || data.item.key === keyLabel.updatedAt)">{{formatDate(data.item.value.v)}}</strong>
                            <b-form-group
                                    v-if="isEditable(data.item.key) && isTextInput(data.item.key)"
                                    :invalid-feedback="validationFeedback($v[data.item.value.k], error[data.item.value.k])"
                                    :state="validationState($v[data.item.value.k])">
                                <b-form-input :class="validationClass($v[data.item.value.k])" type="text" v-model="$v[data.item.value.k].$model" :placeholder="placeholder[data.item.value.k]"></b-form-input>
                            </b-form-group>
                        </template>
                    </b-table>
                    <p class="text-danger mb-4">{{errorMessage}}</p>
                </b-form>
                <template slot="footer">
                    <b-button variant="primary" :class="isEdit && submitButtonStyle" :disabled="(!isEdit && useInReport) || (isEdit && submitButtonDisabled)" @click="action">{{submitButtonText}}</b-button>
                    <b-button class="ml-3" @click="back">Back</b-button>
                    <b-button class="ml-3" variant="danger" :disabled="useInReport" @click="deleteConfirmationModal = true">delete</b-button>
                </template>
            </b-card>
        </b-col>
        <b-modal title="Delete Confirmation" v-model="deleteConfirmationModal" @ok="deleteRecord">
            Confirm delete this product type?
        </b-modal>
    </b-row>
</template>

<script lang="ts">
    import {Component} from 'vue-property-decorator';
    import {Validation} from '@/shared/validation';
    import {validations} from './Shared';
    import moment from 'moment';
    import {EProductTypeKeyLabel} from '@/typings/enum/display.enum';
    import { IDelete, IProductType, IReport, IUpdate } from '@/typings/store';
    import { IProductTypeRequest } from '@/typings/backend';

    @Component({
        name: 'Detail',
        validations,
    })
    export default class Detail extends Validation {
        protected timeout: number | undefined;
        protected keyLabel = EProductTypeKeyLabel;

        protected productTypeId = '';
        protected isEdit: boolean = false;
        protected deleteConfirmationModal: boolean = false;

        protected productType: IProductType | undefined;
        protected errorMessage: string = '';

        protected code: string = '';
        protected label: string = '';

        protected error = {
            code: {
                required: 'Please enter product type code',
            },
            label: {
                required: 'Please enter product type label',
            },
        };

        protected placeholder = {
            code: 'Enter product type code',
            label: 'Enter product type label',
        };

        protected async mounted() {
            this.productTypeId = (this.$route.params as {id: string}).id;
            await this.$store.dispatch('loadProductTypes');
        }

        get items(): Array<{key: string, value: {k: string, v: string}}> {
            const notFound: Array<[string, string]> =
                this.$store.getters.isProductCategoriesLoad ?
                    [['Product Type ID', 'Not found']] :
                    [['Product Type ID', 'Searching...']];
            const item = this.$store.getters.productType(this.productTypeId);
            if (item) {
                this.productType = {
                    id: item.id,
                    code: item.code,
                    label: item.label,
                    createdAt: item.createdAt,
                    updatedAt: item.updatedAt,
                };
            }

            const productTypeDetails: Array<[string, string]> =
                this.productType ? Object.entries(this.productType) : notFound;
            return productTypeDetails.filter((pt) => pt[0] !== 'id').map(([k, value]) => {
                if (k in EProductTypeKeyLabel) {
                    const key = k as keyof typeof EProductTypeKeyLabel;
                    return {key: EProductTypeKeyLabel[key], value: {k, v: value as string}};
                } else {
                    return {key: k, value: {k, v: value as string}};
                }
            });
        }

        get submitButtonText(): string {
            if (this.isEdit) {
                return 'Submit';
            } else {
                return 'Edit';
            }
        }

        get useInReport(): boolean {
            return this.$store.getters.reports.some((report: IReport) => report.productType.id === this.productTypeId);
        }

        protected isTextInput(key: string): boolean {
            if (key === EProductTypeKeyLabel.code ||
                key === EProductTypeKeyLabel.label) {

                return true;
            } else {
                return false;
            }
        }

        protected isEditable(key: string) {
            if (key === EProductTypeKeyLabel.createdAt ||
                key === EProductTypeKeyLabel.updatedAt) {

                return false;
            } else {
                return this.isEdit;
            }
        }

        protected back() {
            if (this.isEdit) {
                this.isEdit = false;
            } else {
                this.$router.go(-1);
            }
        }

        protected formatDate(dateString: string) {
            return moment(dateString).format('DD/MM/YYYY h:mma');
        }

        protected async action() {
            if (!this.isEdit) {
                clearTimeout(this.timeout);
                if (this.errorMessage) {
                    this.errorMessage = '';
                }

                this.code = this.productType && this.productType.code ? this.productType.code : '';
                this.label = this.productType && this.productType.label ? this.productType.label : '';

                if (this.$v && this.$v.$reset) {
                    this.$v.$reset();
                }

                this.isLoading = false;
                this.isEdit = true;
            } else {
                if (this.$v && this.$v.$touch) {
                    this.$v.$touch();
                }

                if (this.$v && !this.$v.$invalid) {
                    this.isLoading = true;
                    const request: IUpdate<IProductTypeRequest> = {
                        id: this.productTypeId,
                        data: {
                            code: this.code,
                            label: this.label,
                        }, successCb: () => {
                            this.errorMessage = '';
                            this.isEdit = false;
                            this.isLoading = false;
                        }, errorCb: (error: string) => {
                            this.isLoading = false;
                            this.errorMessage = error;
                        },
                    };

                    await this.$store.dispatch('updateProductType', request);
                }
            }
        }

        protected async deleteRecord() {
            const request: IDelete = {
                id: this.productTypeId,
                successCb: () => this.$router.replace({path: '/productTypes'}),
                errorCb: (error: string) => {
                    this.errorMessage = error;
                    this.timeout = setTimeout(() => {
                        if (this.errorMessage) {
                            this.errorMessage = '';
                        }
                    }, 10000);
                },
            };
            await this.$store.dispatch('deleteProductType', request);
        }
    }
</script>

<style>
    .hidden_header {
        display: none;
    }
</style>
