// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";

body {
  font-family: Roboto, sans-serif;
}

.buttonDisabled {
  opacity:0.65
}

body {
  background-color: #ffffff;
  letter-spacing: 1px;
}

.sidebar .nav-title {
  white-space: nowrap;
}
