<template>
  <table class="w-100">
    <tbody>
    <tr>
      <td class="text-muted">HEX:</td>
      <td class="font-weight-bold">{{this.hexColor}}</td>
    </tr>
    <tr>
      <td class="text-muted">RGB:</td>
      <td class="font-weight-bold">{{this.bgColor}}</td>
    </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import { rgbToHex } from '@coreui/coreui/dist/js/coreui-utilities';

  @Component({
    name: 'ColorView',
  })
  export default class ColorView extends Vue {
    protected bgColor: string = 'rgb(255, 255, 255)';

    protected mounted() {
      this.setColor();
    }

    get hexColor() {
      return rgbToHex(this.bgColor);
    }

    protected setColor() {
      const elem = this.$parent.$el.children[0];
      const color = window.getComputedStyle(elem).getPropertyValue('background-color');
      this.bgColor = color || this.bgColor;
    }
  }
</script>

