<template>
  <b-col xl="2" md="4" sm="6" xs="12" class="mb-4">
    <div :class="[classObj, color]" :style="{ paddingTop: '75%' }"></div>
    <slot></slot>
    <color-view/>
  </b-col>
</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import ColorView from './ColorView.vue';

  @Component({
    name: 'ColorTheme',
    components: { ColorView },
  })
  export default class ColorTheme extends Vue {
    @Prop({default: 'theme-color w-75 rounded mb-3'})
    protected classObj!: string;

    @Prop({default: 'bg-secondary'})
    protected color!: string;
  }
</script>

