<template>
    <div class="animated fadeIn">
        <b-card-group columns class="card-columns">
            <b-card header="Line Chart">
                <div class="chart-wrapper">
                    <line-example chartId="chart-line-01"/>
                </div>
            </b-card>
            <b-card header="Bar Chart">
                <div class="chart-wrapper">
                    <bar-example chartId="chart-bar-01"/>
                </div>
            </b-card>
            <b-card header="Doughnut Chart">
                <div class="chart-wrapper">
                    <doughnut-example chartId="chart-doughnut-01"/>
                </div>
            </b-card>
            <b-card header="Radar Chart">
                <div class="chart-wrapper">
                    <radar-example chartId="chart-radar-01"/>
                </div>
            </b-card>
            <b-card header="Pie Chart">
                <div class="chart-wrapper">
                    <pie-example chartId="chart-pie-01"/>
                </div>
            </b-card>
            <b-card header="Polar Area Chart">
                <div class="chart-wrapper">
                    <polar-area-example chartId="chart-polar-area-01"/>
                </div>
            </b-card>
        </b-card-group>
    </div>
</template>
<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import BarExample from './charts/BarExample.vue';
    import LineExample from './charts/LineExample.vue';
    import DoughnutExample from './charts/DoughnutExample.vue';
    import RadarExample from './charts/RadarExample.vue';
    import PieExample from './charts/PieExample.vue';
    import PolarAreaExample from './charts/PolarAreaExample.vue';

    @Component({
        name: 'charts',
        components: {
            BarExample,
            LineExample,
            DoughnutExample,
            RadarExample,
            PieExample,
            PolarAreaExample,
        },
    })
    export default class Charts extends Vue {
    }
</script>
