<template>
    <b-row>
        <b-col cols="12" xl="12">
            <transition name="slide">
                <b-card no-header>
                    <template slot="header">
                        New Report
                    </template>
                    <b-form>
                        <b-form-group
                                label="Report Name"
                                label-for="name"
                                label-cols-sm="4"
                                label-cols-lg="3"
                                :invalid-feedback="validationFeedback($v.name, {
                                    required: 'Please enter report name',
                                })"
                                :state="validationState($v.name)">
                            <b-form-input id="name" :class="validationClass($v.name)" type="text"  v-model.trim="$v.name.$model" placeholder="Enter report name"></b-form-input>
                        </b-form-group>
                        <b-form-group
                                label="Item Photo"
                                label-for="photo"
                                label-cols-sm="4"
                                label-cols-lg="3"
                                :invalid-feedback="validationFeedback($v.photo, {
                                    required: 'Please choose a item photo',
                                })"
                                :state="validationState($v.photo)">
                            <b-img-lazy v-if="photoDataUrl" class="image" :src="photoDataUrl" />
                            <b-form-file id="photo" :state="validationState($v.photo)" v-model="$v.photo.$model" accept="image/*" @input="imageChange" placeholder="Choose a item photo..." drop-placeholder="Drop item photo here..."></b-form-file>
                        </b-form-group>
                        <b-form-group
                                label="Product Category"
                                label-for="productCategoryId"
                                label-cols-sm="4"
                                label-cols-lg="3"
                                :invalid-feedback="validationFeedback($v.productCategoryId, {
                                    required: 'Please choose a product category',
                                })"
                                :state="validationState($v.productCategoryId)">
                            <b-form-select id="productCategoryId" :options="categoriesOptions" v-model="$v.productCategoryId.$model"></b-form-select>
                        </b-form-group>
                        <b-form-group
                                label="Product Type"
                                label-for="productTypeId"
                                label-cols-sm="4"
                                label-cols-lg="3"
                                :invalid-feedback="validationFeedback($v.productTypeId, {
                                    required: 'Please choose a product type',
                                })"
                                :state="validationState($v.productTypeId)">
                            <b-form-select id="productTypeId" :options="typesOptions" v-model="$v.productTypeId.$model"></b-form-select>
                        </b-form-group>
                        <b-form-group
                                label="Disclosure"
                                label-for="disclosure"
                                label-cols-sm="4"
                                label-cols-lg="3"
                                :invalid-feedback="validationFeedback($v.disclosure, {
                                        required: 'Please choose the disclosure',
                                    })"
                                :state="validationState($v.disclosure)">
                            <b-form-radio-group id="disclosure" :options="disclosuresOptions" v-model="$v.disclosure.$model"></b-form-radio-group>
                        </b-form-group>
                        <b-form-group
                                label="Signatures"
                                label-for="signatures"
                                label-cols-sm="4"
                                label-cols-lg="3"
                                :invalid-feedback="validationFeedback($v.signatures, {
                                    required: 'Please choose at least 1 signature',
                                })"
                                :state="validationState($v.signatures)">
                            <b-form-checkbox-group id="signatures" :options="signaturesOptions" v-model="$v.signatures.$model"></b-form-checkbox-group>
                        </b-form-group>
                        <b-row>
                            <b-col class="mt-4" cols="6" xl="6" v-for="(reportField, index) in reportFields" :key="reportField.id">
                                <i class="text-danger icon-close close" @click="reportFields.splice(index, 1); if(reportFields.length <= 0) errorMessage='Please add at least 1 report field';"></i>
                                <b-form-group
                                        label="Report Field"
                                        label-for="reportLabelId"
                                        label-cols-sm="4"
                                        label-cols-lg="3">
                                    <b-form-select id="reportLabelId" :options="reportLabelsOptions" v-model="reportField.reportLabelId"></b-form-select>
                                </b-form-group>
                                <b-form-group
                                        label="Value"
                                        label-for="reportValue"
                                        label-cols-sm="4"
                                        label-cols-lg="3">
                                    <b-form-textarea id="reportValue" type="text"  v-model.trim="reportField.reportValue" placeholder="Enter value"></b-form-textarea>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <b-button class="mt-4" variant="primary" @click="reportFields.push({id: keyCount++, reportLabelId: '', reportValue: ''});errorMessage='';">Add report field</b-button>
                        <p class="text-danger mb-4">{{errorMessage}}</p>
                    </b-form>
                    <template slot="footer">
                        <b-button variant="primary" :class="submitButtonStyle" @click="action">Submit</b-button>
                        <b-button class="ml-3" @click="back">Back</b-button>
                    </template>
                </b-card>
            </transition>
        </b-col>
    </b-row>
</template>

<script lang="ts">
    import { Component } from 'vue-property-decorator';
    import {Validation} from '@/shared/validation';
    import {validations} from './Shared';
    import { ICreate, IProductCategory, IProductType, IReportLabel } from '@/typings/store';
    import {EReportSignarure, EReportDisclosure} from '@/typings/enum/store.enum';
    import { IReportRequest } from '@/typings/backend';
    import { IReportFieldRequestDisplay } from '@/typings/display';

    @Component({
        name: 'Create',
        validations,
    })
    export default class Create extends Validation {
        protected errorMessage: string = '';
        protected photoDataUrl: string = '';

        protected name: string = '';
        protected photo: string = '';
        protected productCategoryId: string = '';
        protected productTypeId: string = '';
        protected disclosure: EReportDisclosure = EReportDisclosure.general;
        protected signatures: EReportSignarure[] =
            [EReportSignarure.seniorIGS, EReportSignarure.seniorGIA, EReportSignarure.chiefGIA];
        protected keyCount: number = 0;
        protected reportFields: IReportFieldRequestDisplay[] = [{id: this.keyCount++, reportLabelId: '', reportValue: ''}];

        protected categoriesOptions: Array<{value: string, text: string}> = [];
        protected typesOptions: Array<{value: string, text: string}> = [];
        protected reportLabelsOptions: Array<{value: string, text: string}> = [];
        protected disclosuresOptions: Array<{value: string, text: string}> = [];
        protected signaturesOptions: Array<{value: string, text: string}> = [];

        protected async mounted() {
            await this.$store.dispatch('loadProductCategories');
            await this.$store.dispatch('loadProductTypes');
            await this.$store.dispatch('loadReportLabels');
            this.categoriesOptions = this.$store.getters.productCategories ?
                this.$store.getters.productCategories.map((category: IProductCategory) => {
                    return {
                        value: category.id,
                        text: category.label,
                    } ;
                }) : [];

            this.typesOptions = this.$store.getters.productTypes ?
                this.$store.getters.productTypes.map((type: IProductType) => {
                    return {
                        value: type.id,
                        text: type.label,
                    } ;
                }) : [];

            this.reportLabelsOptions = this.$store.getters.reportLabels ?
                this.$store.getters.reportLabels.map((label: IReportLabel) => {
                    return {
                        value: label.id,
                        text: label.label,
                    } ;
                }) : [];
            this.reportLabelsOptions.push({
                value: '',
                text: 'Empty Field',
            });

            this.disclosuresOptions = [{
                value: 'general',
                text: 'General',
            }, {
                value: 'diamond',
                text: 'Diamond',
            }];

            this.signaturesOptions = [{
                value: EReportSignarure.seniorIGS,
                text: 'Senior Gemologist GIA 1',
            }, {
                value: EReportSignarure.seniorGIA,
                text: 'Senior Gemologist GIA 2',
            }, {
                value: EReportSignarure.chiefGIA,
                text: 'Chief Gemologist GIA',
            }];
        }

        protected async back() {
            this.$router.go(-1);
        }

        protected imageChange(file: any) {
            if (file) {
                const reader = new FileReader();
                reader.onload = () => {
                    this.photoDataUrl = reader.result as string;
                };
                reader.readAsDataURL(file);
            } else {
                this.photoDataUrl = '';
            }
        }

        protected async action() {
            if (this.$v && this.$v.$touch) {
                this.$v.$touch();
            }

            if (this.$v && !this.$v.$invalid) {
                this.isLoading = true;

                const request: ICreate<IReportRequest> = {
                    data: {
                        name: this.name,
                        photo: this.photoDataUrl,
                        disclosure: this.disclosure,
                        signatures: this.signatures,
                        productCategoryId: this.productCategoryId,
                        productTypeId: this.productTypeId,
                        reportFields: this.reportFields.map((reportField) => {
                            if (!reportField.reportLabelId) {
                                reportField.reportLabelId = '';
                            }
                            if (!reportField.reportValue) {
                                reportField.reportValue = '';
                            } else {
                                while (reportField.reportValue.indexOf('\n') >= 0) {
                                    reportField.reportValue = reportField.reportValue.replace('\n', '<br />');
                                }
                            }
                            return reportField;
                        }),
                    },
                    successCb: (id) => this.$router.replace({path: `/reports/${id}`}),
                    errorCb: (error: string) => {
                        this.errorMessage = error;
                    },
                };
                await this.$store.dispatch('createReport', request);
            }
        }
    }
</script>

<style scoped>
    .image {
        height: 150px;
    }
    .close {
        position: absolute;
        cursor: pointer;
        right: 4px;
        top: -10px;
        z-index: 2;
    }
</style>
