<template>
    <b-row>
        <b-col cols="12" lg="12">
            <b-card no-header>
                <template slot="header">
                    Report ID: <strong>{{ reportReferenceNumber }}</strong>
                </template>
                <b-form>
                    <b-table striped small fixed responsive="sm" :items="items" thead-class="hidden_header">
                        <template slot="value" slot-scope="data">
                            <strong v-if="!isEditable(data.item.key) &&
                                            data.item.key !== keyLabel.createdAt &&
                                            data.item.key !== keyLabel.updatedAt &&
                                            data.item.key !== keyLabel.photo &&
                                            data.item.key !== keyLabel.disclosure &&
                                            data.item.key !== keyLabel.signatures &&
                                            data.item.key !== keyLabel.reportFields">
                                {{data.item.value.v}}
                            </strong>
                            <strong v-if="!isEditable(data.item.key) && data.item.key === keyLabel.disclosure">{{data.item.value.v.substring(0, 1).toUpperCase() + data.item.value.v.substring(1, data.item.value.v.length)}}</strong>
                            <strong v-if="!isEditable(data.item.key) && data.item.key === keyLabel.signatures">{{formatSignature(data.item.value.v)}}</strong>
                            <strong v-if="!isEditable(data.item.key) && (data.item.key === keyLabel.createdAt || data.item.key === keyLabel.updatedAt)">{{formatDate(data.item.value.v, 'DD/MM/YYYY h:mma')}}</strong>
                            <strong v-if="!isEditable(data.item.key) && data.item.key === keyLabel.photo">
                                <b-img-lazy class="image" :src="data.item.value.v" />
                            </strong>
                            <b-row v-if="!isEditable(data.item.key) && data.item.key === keyLabel.reportFields">
                                <b-col class="mt-2 mb-2" cols="6" xl="6" v-for="reportField in data.item.value.v" :key="reportField.id">
                                    {{reportField.reportLabel ? reportField.reportLabel.label : 'N/A'}}<br />
                                    <strong v-html="reportField.reportValue ? reportField.reportValue : reportField.reportLabel ? '' : 'N/A'"></strong>
                                </b-col>
                            </b-row>
                            <b-form-group
                                    v-if="isEditable(data.item.key) && isTextInput(data.item.key)"
                                    :invalid-feedback="validationFeedback($v[data.item.value.k], error[data.item.value.k])"
                                    :state="validationState($v[data.item.value.k])">
                                <b-form-input :class="validationClass($v[data.item.value.k])" type="text" v-model="$v[data.item.value.k].$model" :placeholder="placeholder[data.item.value.k]"></b-form-input>
                            </b-form-group>
                            <b-form-group
                                    v-if="isEditable(data.item.key) && isSelectInput(data.item.key)"
                                    :invalid-feedback="validationFeedback($v[data.item.value.k + 'Id'], error[data.item.value.k + 'Id'])"
                                    :state="validationState($v[data.item.value.k + 'Id'])">
                                <b-form-select :options="selectOptions[data.item.value.k + 'Id']" v-model="$v[data.item.value.k + 'Id'].$model"></b-form-select>
                            </b-form-group>
                            <b-form-group
                                    v-if="isEditable(data.item.key) && data.item.key === keyLabel.photo"
                                    :invalid-feedback="validationFeedback($v.photo, {
                                        required: 'Please choose a item photo',
                                    })"
                                    :state="validationState($v.photo)">
                                <b-img-lazy v-if="photoDataUrl" class="image" :src="photoDataUrl" />
                                <b-form-file id="photo" :state="validationState($v.photo)" v-model="$v.photo.$model" accept="image/*" @input="imageChange" placeholder="Choose a item photo..." drop-placeholder="Drop item photo here..."></b-form-file>
                            </b-form-group>
                            <b-form-group
                                    v-if="isEditable(data.item.key) && data.item.key === keyLabel.disclosure"
                                    :invalid-feedback="validationFeedback($v.disclosure, {
                                        required: 'Please choose the disclosure',
                                    })"
                                    :state="validationState($v.disclosure)">
                                <b-form-radio-group id="disclosure" :options="disclosuresOptions" v-model="$v.disclosure.$model"></b-form-radio-group>
                            </b-form-group>
                            <b-form-group
                                    v-if="isEditable(data.item.key) && data.item.key === keyLabel.signatures"
                                    :invalid-feedback="validationFeedback($v.signatures, {
                                        required: 'Please choose at least 1 signature',
                                    })"
                                    :state="validationState($v.signatures)">
                                <b-form-checkbox-group id="signatures" :options="signaturesOptions" v-model="$v.signatures.$model"></b-form-checkbox-group>
                            </b-form-group>
                            <b-row  v-if="isEditable(data.item.key) && data.item.key === keyLabel.reportFields">
                                <b-col class="mt-4" cols="6" xl="6" v-for="(reportField, index) in reportFields" :key="reportField.id">
                                    <i class="text-danger icon-close close" @click="reportFields.splice(index, 1); if(reportFields.length <= 0) errorMessage='Please add at least 1 report field';"></i>
                                    <b-form-group :label="'Field ' + (index + 1)">
                                        <b-form-select id="reportLabelId" :options="reportLabelsOptions" v-model="reportField.reportLabelId"></b-form-select>
                                    </b-form-group>
                                    <b-form-group :label="'Value ' + (index + 1)">
                                        <b-form-textarea type="text"  v-model.trim="reportField.reportValue" placeholder="Enter value"></b-form-textarea>
                                    </b-form-group>
                                </b-col>
                                <b-col cols="12" xl="12">
                                    <b-button class="mt-4" variant="primary" @click="reportFields.push({id: keyCount++, reportLabelId: '', reportValue: ''});errorMessage='';">Add report field</b-button>
                                </b-col>
                            </b-row>
                        </template>
                    </b-table>
                    <p class="text-danger mb-4">{{errorMessage}}</p>
                </b-form>
                <template slot="footer">
                    <b-button v-if="isRoleAdmin()" variant="primary" :class="isEdit && submitButtonStyle" :disabled="isEdit && submitButtonDisabled && isFieldSame" @click="action">{{submitButtonText}}</b-button>
                    <b-button class="ml-3" variant="success" @click="generateReport">Generate Report</b-button>
                    <b-button class="ml-3" @click="back">Back</b-button>
                    <b-button v-if="isRoleAdmin()" class="ml-3" variant="danger" @click="deleteConfirmationModal = true">delete</b-button>
                </template>
            </b-card>
        </b-col>
        <b-modal title="Delete Confirmation" v-model="deleteConfirmationModal" @ok="deleteRecord">
            Are you sure you want to delete {{reportReferenceNumber}}?
        </b-modal>
    </b-row>
</template>

<script lang="ts">
    import { Component } from 'vue-property-decorator';
    import { Validation } from '@/shared/validation';
    import { validations } from './Shared';
    import moment from 'moment';
    import { EReportKeyLabel } from '@/typings/enum/display.enum';
    import { EReportDisclosure, EReportSignarure } from '@/typings/enum/store.enum';
    import { isRoleAdmin } from '@/shared/security';
    import * as pdfMake from 'pdfmake/build/pdfmake';
    import * as pdfFonts from 'pdfmake/build/vfs_fonts';
    import {
        IDelete,
        IProductCategory,
        IProductType,
        IReport,
        IReportField,
        IReportLabel,
        IUpdate,
    } from '@/typings/store';
    import { getDataUri } from '@/shared/utils';
    import { IReportRequest } from '@/typings/backend';
    import { IReportFieldRequestDisplay } from '@/typings/display';

    // tslint:disable-next-line:no-var-requires
    const QRCode = require('qrcode');
    const pdf = pdfMake;
    pdf.vfs = pdfFonts.pdfMake.vfs;

    @Component({
        name: 'Detail',
        validations,
    })
    export default class Detail extends Validation {
        protected isRoleAdmin = isRoleAdmin;
        protected keyLabel = EReportKeyLabel;

        protected reportId = '';
        protected reportReferenceNumber = '';
        protected isEdit: boolean = false;
        protected deleteConfirmationModal: boolean = false;

        protected report: IReport | undefined;
        protected errorMessage: string = '';
        protected photoDataUrl: string = '';

        protected name: string = '';
        protected photo: string = '';
        protected productCategoryId: string = '';
        protected productTypeId: string = '';
        protected disclosure: EReportDisclosure = EReportDisclosure.general;
        protected signatures: EReportSignarure[] =
            [EReportSignarure.seniorIGS, EReportSignarure.seniorGIA, EReportSignarure.chiefGIA];
        protected keyCount: number = 0;
        protected reportFields: IReportFieldRequestDisplay[] = [];

        protected reportLabelsOptions: Array<{value: string, text: string}> = [];
        protected disclosuresOptions: Array<{value: string, text: string}> = [];
        protected signaturesOptions: Array<{value: string, text: string}> = [];

        protected error = {
            name: {
                required: 'Please enter report name',
            },
            productCategoryId: {
                required: 'Please choose a product category',
            },
            productTypeId: {
                required: 'Please choose a product type',
            },
        };

        protected placeholder = {
            name: 'Enter report name',
        };

        protected selectOptions = {
            productCategoryId: [],
            productTypeId: [],
        };

        protected async mounted() {
            this.reportId = (this.$route.params as {id: string}).id;
            await this.$store.dispatch('loadReports');

            const item = this.$store.getters.report(this.reportId);
            if (!item) {
                const result = this.$store.getters.reports.find((report: IReport) => report.reportId === this.reportId);
                if (result) {
                    this.$router.push({path: `${result.id}`});
                }
            }

            await this.$store.dispatch('loadProductCategories');
            await this.$store.dispatch('loadProductTypes');
            await this.$store.dispatch('loadReportLabels');

            this.selectOptions.productCategoryId = this.$store.getters.productCategories ?
                this.$store.getters.productCategories.map((category: IProductCategory) => {
                    return {
                        value: category.id,
                        text: category.label,
                    };
                }) : [];

            this.selectOptions.productTypeId = this.$store.getters.productTypes ?
                this.$store.getters.productTypes.map((type: IProductType) => {
                    return {
                        value: type.id,
                        text: type.label,
                    };
                }) : [];

            this.reportLabelsOptions = this.$store.getters.reportLabels ?
                this.$store.getters.reportLabels.map((label: IReportLabel) => {
                    return {
                        value: label.id,
                        text: label.label,
                    };
                }) : [];
            this.reportLabelsOptions.push({
                value: '',
                text: 'Empty Field',
            });

            this.disclosuresOptions = [{
                value: 'general',
                text: 'General',
            }, {
                value: 'diamond',
                text: 'Diamond',
            }];

            this.signaturesOptions = [{
                value: EReportSignarure.seniorIGS,
                text: 'Senior Gemologist GIA 1',
            }, {
                value: EReportSignarure.seniorGIA,
                text: 'Senior Gemologist GIA 2',
            }, {
                value: EReportSignarure.chiefGIA,
                text: 'Chief Gemologist GIA',
            }];
        }

        get items(): Array<{key: string, value: {k: string, v: string | IReportField[]}}> {
            const notFound: Array<[string, string]> =
                this.$store.getters.isReportLabelsLoad ?
                    [['Report ID', 'Not found']] :
                    [['Report ID', 'Searching...']];
            const item = this.$store.getters.report(this.reportId);
            if (item) {
                this.reportReferenceNumber = item.reportId;
                this.report = {
                    id: item.id,
                    reportId: item.reportId,
                    name: item.name,
                    photo: item.photo,
                    disclosure: item.disclosure,
                    signatures: item.signatures,
                    productCategory: item.productCategory,
                    productType: item.productType,
                    reportFields: item.reportFields,
                    createdAt: item.createdAt,
                    updatedAt: item.updatedAt,
                };
            }

            const reportDetails: Array<[string, string | IProductCategory | IProductType | IReportField[]]> =
                this.report ? Object.entries(this.report) : notFound;
            return reportDetails.filter((rl) => rl[0] in EReportKeyLabel).map(([k, value]) => {
                const key = k as keyof typeof EReportKeyLabel;
                if (EReportKeyLabel[key] === EReportKeyLabel.productCategory) {
                    return {key: EReportKeyLabel[key], value: {k, v: (value as IProductCategory).label}};
                } else if (EReportKeyLabel[key] === EReportKeyLabel.productType) {
                    return {key: EReportKeyLabel[key], value: {k, v: (value as IProductType).label}};
                } else {
                    return {key: EReportKeyLabel[key], value: {k, v: value as string}};
                }
            });
        }

        get submitButtonText(): string {
            if (this.isEdit) {
                return 'Submit';
            } else {
                return 'Edit';
            }
        }

        get isFieldSame(): boolean {
            for (let i = 0; i < this.reportFields.length; i++) {
                const reportField = this.report ? this.report.reportFields.find((field) => field.sequence === i) :
                    undefined;
                if (reportField) {
                    if (!reportField.reportLabel && this.reportFields[i].reportLabelId === '' &&
                        !reportField.reportValue && !this.reportFields[i].reportValue) {
                        continue;
                    } else if (((!reportField.reportLabel && this.reportFields[i].reportLabelId !== '') ||
                        reportField.reportLabel.id !== this.reportFields[i].reportLabelId) ||
                        reportField.reportValue !== this.reportFields[i].reportValue) {
                        return false;
                    }
                } else {
                    return false;
                }
            }

            return true;
        }

        protected isTextInput(key: string): boolean {
            if (key === EReportKeyLabel.name) {

                return true;
            } else {
                return false;
            }
        }

        protected isSelectInput(key: string): boolean {
            if (key === EReportKeyLabel.productCategory || key === EReportKeyLabel.productType) {
                return true;
            } else {
                return false;
            }
        }

        protected isEditable(key: string) {
            if (key === EReportKeyLabel.createdAt ||
                key === EReportKeyLabel.updatedAt) {

                return false;
            } else {
                return this.isEdit;
            }
        }

        protected back() {
            if (this.isEdit) {
                this.isEdit = false;
            } else {
                this.$router.go(-1);
            }
        }

        protected formatDate(dateString: string, format: string) {
            return moment(dateString).format(format);
        }

        protected formatSignature(signatures: EReportSignarure[]) {
            if (signatures) {
                return signatures.map((signature) => {
                    switch (signature) {
                        case EReportSignarure.seniorIGS:
                            return 'Senior Gemologist GIA 1';
                        case EReportSignarure.seniorGIA:
                            return 'Senior Gemologist GIA 2';
                        case EReportSignarure.chiefGIA:
                            return 'Chief Gemologist GIA';
                    }
                }).join(', ');
            } else {
                return '-';
            }
        }

        protected imageChange(file: any) {
            if (file) {
                const reader = new FileReader();
                reader.onload = () => {
                    this.photoDataUrl = reader.result as string;
                };
                reader.readAsDataURL(file);
            } else {
                this.photoDataUrl = '';
            }
        }

        protected async action() {
            if (!this.isEdit) {
                this.name = this.report && this.report.name ? this.report.name : '';
                this.photo = this.report && this.report.photo ? this.report.photo : '';
                this.photoDataUrl = this.photo;
                this.disclosure = this.report && this.report.disclosure ? this.report.disclosure :
                    EReportDisclosure.general;
                this.signatures = this.report && this.report.signatures ? this.report.signatures :
                    [EReportSignarure.seniorIGS, EReportSignarure.seniorGIA, EReportSignarure.chiefGIA];
                this.productCategoryId = this.report && this.report.productCategory ? this.report.productCategory.id : '';
                this.productTypeId = this.report && this.report.productType ? this.report.productType.id : '';
                this.reportFields = this.report && this.report.reportFields && this.report.reportFields.length > 0 ?
                    this.report.reportFields.map((reportField) => {
                        let value = reportField.reportValue;
                        while (value && value.indexOf('<br />') >= 0) {
                            value = value.replace('<br />', '\n');
                        }

                        return {
                            id: this.keyCount++,
                            reportLabelId: reportField.reportLabel ? reportField.reportLabel.id : '',
                            reportValue: value,
                        };
                    }) : [];

                if (this.$v && this.$v.$reset) {
                    this.$v.$reset();
                }

                this.isLoading = false;
                this.isEdit = true;
            } else {
                if (this.$v && !this.$v.$invalid) {
                    this.isLoading = true;
                    const request: IUpdate<IReportRequest> = {
                        id: this.reportId,
                        data: {
                            name: this.name,
                            photo: this.photoDataUrl,
                            disclosure: this.disclosure,
                            signatures: this.signatures,
                            productCategoryId: this.productCategoryId,
                            productTypeId: this.productTypeId,
                            reportFields: this.reportFields.map((reportField) => {
                                if (!reportField.reportLabelId) {
                                    reportField.reportLabelId = '';
                                }
                                if (!reportField.reportValue) {
                                    reportField.reportValue = '';
                                } else {
                                    while (reportField.reportValue.indexOf('\n') >= 0) {
                                        reportField.reportValue = reportField.reportValue.replace('\n', '<br />');
                                    }
                                }
                                return reportField;
                            }),
                        }, successCb: () => {
                            this.errorMessage = '';
                            this.isEdit = false;
                            this.isLoading = false;
                        }, errorCb: (error: string) => {
                            this.isLoading = false;
                            this.errorMessage = error;
                        },
                    };

                    await this.$store.dispatch('updateReport', request);
                }
            }
        }

        protected async deleteRecord() {
            const request: IDelete = {
                id: this.reportId,
                successCb: () => this.$router.replace({path: '/reports'}),
            };
            await this.$store.dispatch('deleteReport', request);
        }

        protected async generateReport() {
            if (this.report) {
                const content: object[] = [];
                const columns = [];
                columns.push([
                    [
                        {
                            text: this.report.name,
                            alignment: 'center',
                            fontSize: 25,
                            bold: true,
                        },
                        {
                            canvas: [
                                {
                                    type: 'line',
                                    x1: 80,
                                    y1: 5,
                                    x2: 280,
                                    y2: 5,
                                    lineWidth: 3,
                                },
                            ],
                            margin: [0, 0, 0, 5],
                        },
                        {
                            text: 'Report',
                            alignment: 'center',
                            fontSize: 25,
                            bold: true,
                            margin: [0, 0, 0, 20],
                        },
                    ],
                    [
                        {
                            text: this.report.reportId,
                            alignment: 'center',
                            margin: [0, 0, 0, 10],
                        },
                        {
                            text: 'Date: ' + this.formatDate(this.report.updatedAt.toString(), 'DD MMM YYYY'),
                            alignment: 'center',
                        },
                    ],
                ]);

                if (this.report && this.report.photo) {
                    columns.push({
                        relativePosition: {x: -30, y: 140},
                        width: '150',
                        height: '150',
                        image: this.report.photo,
                    });
                }

                content.push(
                    {
                        image: await getDataUri('img/report/igrl-logo.png'),
                        fit: [200, 200],
                        alignment: 'center',
                        margin: [0, 0, 0, 20],
                    },
                    {
                        columns,
                    },
                );

                if (this.report && this.report.reportFields && this.report.reportFields.length > 0) {
                    for (let i = 0; i < this.report.reportFields.length; i += 2) {
                        const field1 = [];
                        field1.push({
                            text: this.getFieldValue(i),
                            margin: [0, 30, 0, 0],
                        });

                        let texts: string[] = this.getFieldValueArray(i);
                        texts.forEach((text) => {
                            field1.push({
                                text,
                                bold: true,
                            });
                        });

                        if (i + 1 < this.report.reportFields.length) {
                            const field2 = [];
                            field2.push({
                                text: this.getFieldValue(i + 1),
                                margin: [0, 30, 0, 0],
                            });

                            texts = this.getFieldValueArray(i + 1);
                            texts.forEach((text) => {
                                field2.push({
                                    text,
                                    bold: true,
                                });
                            });

                            content.push({
                                columns: [
                                    field1,
                                    field2,
                                ],
                                margin: [50, 0],
                            });
                        } else {
                            content.push({
                                columns: [
                                    field1,
                                ],
                                margin: [50, 0],
                            });
                        }
                    }
                }

                let sign: Array<{img: string, title: string, role: string}> = [];
                if (this.report && this.report.signatures && this.report.signatures.length > 0) {
                    sign = await Promise.all(this.report.signatures.map(async (signature) => {
                        switch (signature) {
                            case EReportSignarure.seniorIGS:
                                return {
                                    img: await getDataUri('img/report/igrl-sign-1.png') as string,
                                    title: 'Senior Gemologist',
                                    role: 'GIA',
                                };
                            case EReportSignarure.seniorGIA:
                                return {
                                    img: await getDataUri('img/report/igrl-sign-2.png') as string,
                                    title: 'Senior Gemologist',
                                    role: 'GIA',
                                };
                            case EReportSignarure.chiefGIA:
                                return {
                                    img: await getDataUri('img/report/igrl-sign-3.png') as string,
                                    title: 'Chief Gemologist',
                                    role: 'GIA',
                                };
                        }
                    }));
                }

                if (sign && sign.length > 0) {
                    content.push({
                        text: ' ',
                        fontSize: 150,
                    });

                    content.push({
                        width: '*',
                        alignment: 'center',
                        columns: sign.map((s) => ({
                            image: s.img,
                            fit: [100, 100],
                        })),
                        absolutePosition: {x: 20, y: 610},
                    });

                    content.push({
                        width: '*',
                        alignment: 'center',
                        columns: sign.map((s) => ({
                            text: s.title,
                        })),
                        absolutePosition: {x: 20, y: 670},
                    });

                    content.push({
                        width: '*',
                        alignment: 'center',
                        columns: sign.map((s) => ({
                            text: s.role,
                        })),
                        absolutePosition: {x: 20, y: 685},
                    });
                } else {
                    content.push({
                        text: ' ',
                        fontSize: 90,
                    });
                }

                QRCode.toDataURL(location.protocol + '//' + location.hostname + '/#' +
                    this.$route.fullPath, async (err: any, url: string) => {
                    content.push({
                        columns: [
                            {
                                width: 320,
                                alignment: 'justify',
                                fontSize: 8,
                                text: 'The product images shown are for illustration purposes only and may not be an ' +
                                    'exact representation of the product. This report is not a guarantee, valuation or ' +
                                    'appraisal. IGRL has made no representation or warranty regarding this report. This ' +
                                    'report contains only the characteristics of an article described after it has been ' +
                                    'graded, tested, examined, and analyzed using the techniques and equipment used ' +
                                    'by IGRL at the time of the examination. IGRL and its employees and agents shall ' +
                                    'not be liable for any loss, damage or expense resulting from any error in or ' +
                                    'omission from or from the issuance of or use of the report or any inscription, even ' +
                                    'if the loss, damage or expense was caused by IGRL or any of its employees or agents.',
                            },
                            {
                                width: 90,
                                image: url,
                                fit: [70, 70],
                                alignment: 'center',
                            },
                        ],
                        absolutePosition: {x: 50, y: 705},
                    });

                    content.push({
                        fontSize: 8,
                        text: '* Important notes on the reverse',
                        absolutePosition: {x: 50, y: 792},
                    });

                    if (this.report && this.report.disclosure === EReportDisclosure.diamond) {
                        content.push({
                            image: await getDataUri('img/report/disclosure-diamond.png'),
                            absolutePosition: {x: 35, y: 0},
                            fit: [850, 850],
                            alignment: 'center',
                            pageBreak: 'before',
                        });
                    } else {
                        content.push({
                            image: await getDataUri('img/report/disclosure-general.png'),
                            absolutePosition: {x: 35, y: 0},
                            fit: [850, 850],
                            alignment: 'center',
                            pageBreak: 'before',
                        });
                    }

                    const docDefinition = {
                        pageSize: 'A4',
                        background: [{
                            image: await getDataUri('img/report/igrl-bg.png'),
                            width: 850,
                        }],
                        info: {
                            title: (this.report && this.report.reportId) ? this.report.reportId : 'report',
                        },
                        content,
                    };
                    pdf.createPdf(docDefinition).open();
                });
            }
        }

        private getFieldValue(index: number) {
            return (this.report &&
                this.report.reportFields &&
                this.report.reportFields[index] &&
                this.report.reportFields[index].reportLabel) ?
                this.report.reportFields[index].reportLabel.label : '';
        }

        private getFieldValueArray(index: number) {
            return (this.report &&
                this.report.reportFields &&
                this.report.reportFields[index] &&
                this.report.reportFields[index].reportValue) ?
                this.report.reportFields[index].reportValue.split('<br />') : [''];
        }
    }
</script>

<style scoped>
    .hidden_header {
        display: none;
    }
    .image {
        height: 100px;
    }
    .close {
        position: absolute;
        cursor: pointer;
        right: 20px;
    }
</style>
