<template>
    <div class="animated fadeIn">
        <b-row>
            <b-col sm="12">
                <b-card>
                    <div slot="header">
                        <strong>Generate Report</strong>
                    </div>
                    <b-form-group
                            label="Report ID"
                            label-for="reportId"
                            label-cols-sm="3"
                            label-cols-lg="2">
                        <b-form-input id="reportId" type="text"  v-model.trim="reportId" placeholder="Enter Report ID"></b-form-input>
                    </b-form-group>
                    <b-form-group
                            label="Item"
                            label-for="item"
                            label-cols-sm="3"
                            label-cols-lg="2">
                        <b-form-input id="item" type="text"  v-model.trim="item" placeholder="Enter item"></b-form-input>
                    </b-form-group>
                    <b-form-group
                            label="Weight"
                            label-for="weight"
                            label-cols-sm="3"
                            label-cols-lg="2">
                        <b-form-input id="weight" type="text"  v-model.trim="weight" placeholder="Enter item weight"></b-form-input>
                    </b-form-group>
                    <b-form-group
                            label="Dimention (left)"
                            label-for="dimensionLeft"
                            label-cols-sm="3"
                            label-cols-lg="2">
                        <b-form-input id="dimensionLeft" type="text"  v-model.trim="dimensionLeft" placeholder="Enter item dimention (left)"></b-form-input>
                    </b-form-group>
                    <b-form-group
                            label="Dimention (right)"
                            label-for="dimensionRight"
                            label-cols-sm="3"
                            label-cols-lg="2">
                        <b-form-input id="dimensionRight" type="text"  v-model.trim="dimensionRight" placeholder="Enter item dimention (right)"></b-form-input>
                    </b-form-group>
                    <b-form-group
                            label="Shape"
                            label-for="shape"
                            label-cols-sm="3"
                            label-cols-lg="2">
                        <b-form-input id="shape" type="text"  v-model.trim="shape" placeholder="Enter item shape"></b-form-input>
                    </b-form-group>
                    <b-form-group
                            label="Cut"
                            label-for="cut"
                            label-cols-sm="3"
                            label-cols-lg="2">
                        <b-form-input id="cut" type="text"  v-model.trim="cut" placeholder="Enter item cut description"></b-form-input>
                    </b-form-group>
                    <b-form-group
                            label="Color"
                            label-for="color"
                            label-cols-sm="3"
                            label-cols-lg="2">
                        <b-form-input id="color" type="text"  v-model.trim="color" placeholder="Enter item color description"></b-form-input>
                    </b-form-group>
                    <b-form-group
                            label="Transparency"
                            label-for="transparency"
                            label-cols-sm="3"
                            label-cols-lg="2">
                        <b-form-input id="transparency" type="text"  v-model.trim="transparency" placeholder="Enter item transparency description"></b-form-input>
                    </b-form-group>
                    <b-form-group
                            label="Metal"
                            label-for="metal"
                            label-cols-sm="3"
                            label-cols-lg="2">
                        <b-form-input id="metal" type="text"  v-model.trim="metal" placeholder="Enter item metal description"></b-form-input>
                    </b-form-group>
                    <b-form-group
                            label="Origin"
                            label-for="origin"
                            label-cols-sm="3"
                            label-cols-lg="2">
                        <b-form-input id="origin" type="text"  v-model.trim="origin" placeholder="Enter item origin"></b-form-input>
                    </b-form-group>
                    <b-form-group
                            label="Comments"
                            label-for="comments"
                            label-cols-sm="3"
                            label-cols-lg="2">
                        <b-form-input id="comments" type="text"  v-model.trim="comments" placeholder="Enter item comments"></b-form-input>
                    </b-form-group>
                    <div slot="footer">
                        <b-button size="sm" variant="success" @click="openReport"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
                    </div>
                </b-card>
            </b-col>
        </b-row>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import * as html2canvas from 'html2canvas';
    import * as pdfMake from 'pdfmake/build/pdfmake';
    import * as pdfFonts from 'pdfmake/build/vfs_fonts';

    const pdf = pdfMake;
    pdf.vfs = pdfFonts.pdfMake.vfs;

    @Component({
        name: 'admin',
    })
    export default class Admin extends Vue {
        protected reportId: string = 'IGRL012345';
        protected date: string = this.formatDate(new Date());
        protected item: string = 'One (1) pair of faceted gemstone earrings';
        protected weight: string = '13.63';
        protected dimensionLeft = '6.80 x 5.46 x 3.11';
        protected dimensionRight = '6.49 x 5.38 x 2.97';
        protected shape: string = 'Oval';
        protected cut: string = 'Brilliant Cut / Step Cut';
        protected color: string = 'Slightly yellowish Green';
        protected transparency: string = 'Transparent';
        protected metal: string = 'Platinum';
        protected origin: string = '(L) Zambia / (R) Brazil';
        protected comments: string = 'CE - Insignificant';

        protected async openReport(): Promise<void> {
            const docPrint = document.createElement('div');
            docPrint.setAttribute('id', 'printDocument');
            docPrint.style.height = '0px';
            docPrint.style.overflow = 'hidden';
            const content = [];

            docPrint.innerHTML =
`<html>` +
    `<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8"></head>` +
    `<body>` +
        `<div id='page'>` +
            `<img src="img/header.png" />` +
            `<table style="margin-left:5%;margin-right:5%;width:80%;">` +
                `<tbody>` +
                    `<tr>` +
                        `<td style="width:40%;"><img src="img/report.png" /></td>` +
                        `<td rowspan="2" style="width:40%;text-align:center;"><img src="img/gem_photo.png" /></td>` +
                    `</tr>` +
                    `<tr>` +
                        `<td style="width:40%;text-align:center;">` +
                            `<p style="font-size:28px;margin-bottom:0px;">Report Number : ${this.reportId}</p>` +
                            `<br />` +
                            `<p style="font-size:28px;margin-top:0px;">Date : ${this.date}</p>` +
                        `</td>` +
                    `</tr>` +
                    `<tr>` +
                        `<td style="width:40%;">` +
                            `<p style="font-size:25px;">Item</p>` +
                            `<p style="font-size:25px;font-weight:bold;">${this.item}</p>` +
                            `<br />` +
                            `<p style="font-size:25px;">Weight</p>` +
                            `<p style="font-size:25px;font-weight:bold;">${this.weight} mg</p>` +
                            `<br />` +
                            `<p style="font-size:25px;">Dimensions</p>` +
                            `<p style="font-size:25px;font-weight:bold;">(L) Approx. ${this.dimensionLeft} mm</p>` +
                            `<p style="font-size:25px;font-weight:bold;">(R) Approx. ${this.dimensionRight} mm</p>` +
                            `<br />` +
                            `<p style="font-size:25px;">Shape</p>` +
                            `<p style="font-size:25px;font-weight:bold;">${this.shape}</p>` +
                            `<br />` +
                            `<p style="font-size:25px;">Cut</p>` +
                            `<p style="font-size:25px;font-weight:bold;">${this.cut}</p>` +
                            `<br />` +
                        `</td>` +
                        `<td rowspan="2" style="width:40%;">` +
                            `<p style="font-size:25px;">Color</p>` +
                            `<p style="font-size:25px;font-weight:bold;">${this.color}</p>` +
                            `<br />` +
                            `<p style="font-size:25px;">Transparency</p>` +
                            `<p style="font-size:25px;font-weight:bold;">${this.transparency}</p>` +
                            `<br />` +
                            `<p style="font-size:25px;">Metal</p>` +
                            `<p style="font-size:25px;font-weight:bold;">${this.metal}</p>` +
                            `<br />` +
                            `<img src="img/id.png" />` +
                            `<br />` +
                            `<p style="font-size:25px;">Origin*</p>` +
                            `<p style="font-size:25px;font-weight:bold;">${this.origin}</p>` +
                            `<br />` +
                            `<p style="font-size:25px;">Comments*</p>` +
                            `<p style="font-size:25px;font-weight:bold;">${this.comments}</p>` +
                        `</td>` +
                    `</tr>` +
                    `<tr>` +
                        `<td style="width:40%;text-align:center;"><img src="img/xyt.png" /></td>` +
                    `</tr>` +
                `</tbody>` +
            `</table>` +
            `<table style="margin-left:5%;margin-right:5%;width:80%;">` +
                `<tbody>` +
                    `<tr>` +
                        `<td style="width:70%;">` +
                            `<p>The product images shown are for illustration purposes only and maynot be an ` +
                    `exact representation of the product.This report is not a guarantee, valuation or appraisal. ` +
                    `IGRL has made no representation or warranty regarding this report. This report contains ` +
                    `only the characteristics of an article described after it has been graded, tested, examined, ` +
                    `and analyzed using the techniques and equipment used by IGRL at the time of the examination. ` +
                    `IGRL and its employees and agents shall not be liable for any loss, damage or expense ` +
                    `resulting from any error in or omission from or from the issuance of or use of the report or ` +
                    `any inscription, even if the loss, damage or expense was caused by IGRL or any of its ` +
                    `employees or agents.<br />*Important notes on the reverse</p>` +
                        `</td>` +
                        `<td style="width:10%;"><img src="img/qr.png" /></td>` +
                    `</tr>` +
                `</tbody>` +
            `</table>` +
        `</div>` +
    `</body>` +
`</html>`;

            document.body.appendChild(docPrint);
            const page = document.getElementById('page');

            const canvas = await html2canvas(page, {
                allowTaint: false,
                useCORS: true,
            });

            docPrint.remove();
            content.push({
                image: canvas.toDataURL(),
                fit: [2480, 3508],
            });

            const docDefinition = {
                pageSize: {height: 3508, width: 2480},
                pageMargins: 0,
                content,
            };
            pdf.createPdf(docDefinition).open();
        }

        private formatDate(date: Date): string {
            const monthNames = [
                'Jan', 'Feb', 'Mar',
                'Apr', 'May', 'Jun', 'Jul',
                'Aug', 'Sep', 'Oct',
                'Nov', 'Dec',
            ];

            const day = date.getDate();
            const monthIndex = date.getMonth();
            const year = date.getFullYear();
            return day + ' ' + monthNames[monthIndex] + ' ' + year;
        }
    }
</script>
