<template>
    <div class="animated fadeIn">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="@/assets/img/igrl-home-page.jpg" alt="diamonds">
                </div>
            </div>
        </div>
        <div class="text-center">
            <h4 class="mt-5 mb-5" title>Discover the True Characteristics of Your Precious Stones</h4>
        </div>
        <p font16>Diamonds and colored gemstones are considered highly valuable, strictly due to its rarity as well as the science behind its formation. Hence, we understand the importance of uncovering the hidden information for each gem piece, which further enhances the value of your precious stones.</p>
        <p font16>Our passionate team of certified gemologists are professionally trained to conduct global standard testing methods & thorough assessments on your precious stones, such as diamonds, colored stones, jades and pearls. These stones that you own are usually kept in the form of jewelleries or loose stones, which both can be handled professionally by our testing methods to surface their true characteristics. Our methodology is a combination of industry certified analytical skills augmented by state-of-the-art equipment to deliver precise, unbiased and reliable precious gem evaluation reports.</p>
        <div id="services" class="text-center">
            <h4 class="mt-5 mb-5" title>Our Services</h4>
        </div>
        <div class="d-sm-down-block d-md-none d-lg-none">
            <b-row>
                <b-col>
                    <div class="text-center">
                        <img class="gemImage" src="@/assets/img/gemstone-report.jpg" />
                    </div>
                </b-col>
            </b-row>
            <b-row class="mt-5 mb-5">
                <b-col>
                    <div class="text-center">
                        <h4 title>Gemstone Identification Report</h4>
                    </div>
                </b-col>
            </b-row>
            <b-row>
                <p align="justify" font16>The IGRL Gemstone Identification Report determines the type of gemstone along with the origin, if determinable. The detailed descriptions we included in the report are shape, weight, cutting style, dimensions, color and a photograph of the gemstone.</p>
            </b-row>
            <b-row>
                <b-col>
                    <div class="text-center">
                        <img class="gemImage2" src="@/assets/img/diamond.jpg" />
                    </div>
                </b-col>
            </b-row>
            <b-row class="mt-5 mb-5">
                <b-col>
                    <div class="text-center">
                        <h4 title>Diamond Grading Report</h4>
                    </div>
                </b-col>
            </b-row>
            <b-row>
                <p align="justify" font16>The IGRL Diamond Grading Report includes 4Cs assessment which is Carat Weight, Cut, Clarity and Color with actual proportions diagram (for loose diamond only). Cut Grade will be stated in the report for standard round brilliant diamond.</p>
            </b-row>
            <b-row>
                <b-col>
                    <div class="text-center">
                        <img class="gemImage3" src="@/assets/img/pearl.jpg" />
                    </div>
                </b-col>
            </b-row>
            <b-row class="mt-5 mb-5">
                <b-col>
                    <div class="text-center">
                        <h4 title>Pearl Identification Report</h4>
                    </div>
                </b-col>
            </b-row>
            <b-row>
                <p align="justify" font16>The IGRL Pearl Identification Report determines the identity of the pearl (natural or cultured), weight, shape, color, mollusk (if determinable), environment they were formed within (saltwater or freshwater), and any detectable treatments. A photograph of the pearl will be included in the report.</p>
            </b-row>
            <b-row>
                <b-col>
                    <div class="text-center">
                        <img class="gemImage4" src="@/assets/img/jadeite.jpg" />
                    </div>
                </b-col>
            </b-row>
            <b-row class="mt-5 mb-5">
                <b-col>
                    <div class="text-center">
                        <h4 title>Jade Identification Report</h4>
                    </div>
                </b-col>
            </b-row>
            <b-row>
                <p align="justify" font16>The IGRL Jade Identification Report determines the identity of the jade (jadeite or nephrite), weight, shape, color and any detectable treatment. A photograph of the jade will be attached in the report.</p>
            </b-row>
        </div>
        <div class="d-sm-down-none">
            <b-row>
                <b-col>
                    <div class="text-center">
                        <img class="gemImage" src="@/assets/img/gemstone-report.jpg" />
                    </div>
                </b-col>
                <b-col>
                    <div class="text-center">
                        <img class="gemImage2" src="@/assets/img/diamond.jpg" />
                    </div>
                </b-col>
            </b-row>
            <b-row class="mt-5 mb-5">
                <b-col>
                    <div class="text-center">
                        <h4 title>Gemstone Identification Report</h4>
                    </div>
                </b-col>
                <b-col>
                    <div class="text-center">
                        <h4 title>Diamond Grading Report</h4>
                    </div>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <p align="justify" font16>The IGRL Gemstone Identification Report determines the type of gemstone along with the origin, if determinable. The detailed descriptions we included in the report are shape, weight, cutting style, dimensions, color and a photograph of the gemstone.</p>
                </b-col>
                <b-col>
                    <p align="justify" font16>The IGRL Diamond Grading Report includes 4Cs assessment which is Carat Weight, Cut, Clarity and Color with actual proportions diagram (for loose diamond only). Cut Grade will be stated in the report for standard round brilliant diamond.</p>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <div class="text-center">
                        <img class="gemImage3" src="@/assets/img/pearl.jpg" />
                    </div>
                </b-col>
                <b-col>
                    <div class="text-center">
                        <img class="gemImage4" src="@/assets/img/jadeite.jpg" />
                    </div>
                </b-col>
            </b-row>
            <b-row class="mt-5 mb-5">
                <b-col>
                    <div class="text-center">
                        <h4 title>Pearl Identification Report</h4>
                    </div>
                </b-col>
                <b-col>
                    <div class="text-center">
                        <h4 title>Jade Identification Report</h4>
                    </div>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <p align="justify" font16>The IGRL Pearl Identification Report determines the identity of the pearl (natural or cultured), weight, shape, color, mollusk (if determinable), environment they were formed within (saltwater or freshwater), and any detectable treatments. A photograph of the pearl will be included in the report.</p>
                </b-col>
                <b-col>
                    <p align="justify" font16>The IGRL Jade Identification Report determines the identity of the jade (jadeite or nephrite), weight, shape, color and any detectable treatment. A photograph of the jade will be attached in the report.</p>
                </b-col>
            </b-row>
        </div>
        <p class="mt-2" font12>*We grade loose stones as well as jewelleries. Each report will be issued by at least two (2) certified gemologists.</p>
        <div class="text-center">
            <h4 id="pricing" class="mt-5 mb-5" title>Pricing</h4>
        </div>
        <div class="text-center">
            <h4 title>Gemstone Identification & Certification</h4>
        </div>
        <table>
            <thead>
                <tr>
                    <td><strong>Items</strong></td>
                    <td><strong>Price</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Verbal Check & Brief Consultation (Natural, Synthetic, Imitation, Treatment)</td>
                    <td>RM 50</td>
                </tr>
                <tr>
                    <td>Certificate</td>
                    <td>RM 120</td>
                </tr>
                <tr>
                    <td>- with origin (Additional Charges)</td>
                    <td>+ RM 120</td>
                </tr>
                <tr>
                    <td>Rough Stone Check</td>
                    <td>Price Upon Request</td>
                </tr>
                <tr>
                    <td>Gemstone Jewellery</td>
                    <td>Depending on Total Number of Stones, Price Upon Request</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-5">
            <h4 title>Diamond Grading Report</h4>
        </div>
        <table>
            <thead>
                <tr>
                    <td><strong>Items</strong></td>
                    <td><strong>Price</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Verbal Check & Brief Consultation (Natural, Synthetic, Imitation, Treatment)<br />Only Verbal will be provided for diamonds below 0.10 cts</td>
                    <td>RM 50</td>
                </tr>
                <tr>
                    <td>Certificate (0.10 - 0.24 cts)</td>
                    <td>RM 80</td>
                </tr>
                <tr>
                    <td>Certificate ( 0.25 - 0.49 cts )</td>
                    <td>RM 120</td>
                </tr>
                <tr>
                    <td>Certificate ( 0.50 - 0.99 cts)</td>
                    <td>RM 150</td>
                </tr>
                <tr>
                    <td>Certificate ( 1.00 - 1.99 cts)</td>
                    <td>RM 200</td>
                </tr>
                <tr>
                    <td>Certificate ( 2.00 cts and above)</td>
                    <td>Price Upon Request</td>
                </tr>
                <tr>
                    <td>Diamond Jewellery</td>
                    <td>Depending on Total Number of Stones, Price Upon Request</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-4">
            <h4 red>EACH LOOSE DIAMOND REPORT COMES WITH ACTUAL PROPORTIONS DIAGRAM</h4>
        </div>
        <div id="reportCheck" class="text-center mt-5">
            <h4 title>Own an IGRL report certification? Verify your report here</h4>
            <p font16>Key in your report ID below and click verify</p>
        </div>
        <div class="text-center mt-4" style="margin:0 15%;">
            <b-form-group class="mt-3">
                <b-form-input class="input" font16 type="text" v-model="referenceId" placeholder="e.g. IGRL-XX-XX-XXXXXXMY"></b-form-input>
            </b-form-group>
            <b-button class="verifyButton" font16 variant="danger" :disabled="isSearchLoading" @click="search">
                <div v-if="isSearchLoading" class="spinner-border text-light" style="width:1.2rem;height:1.2rem;color:white!important;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                {{!isSearchLoading ? 'Verify' : 'Loading...'}}
            </b-button>
        </div>
        <b-row id="contactUs" class="footer mt-5">
            <b-col>
                <p class="mt-5 mb-3" font14><img class="flag" src="img/flag/malaysia-flag.png" />INTERNATIONAL GEMOLOGICAL RESEARCH LABORATORY (M) SDN BHD<br />
                    (1319418-V)<br />
                    A: 2nd Floor, 131 Jalan Bunus, 50100 Kuala Lumpur, Malaysia<br />
                    T: +603 - 2697 5770<br />
                    E: <a class="emailLink" href="mailto:info@igrl-gemlab.com" target="_top">info@igrl-gemlab.com</a><br />
                    H: Mon - Fri: 10am - 7pm<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;Saturday: Appointment Required<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;Sunday: Closed
                </p>
            </b-col>
            <b-col>
                <p class="mt-5 mb-3" font14><img class="flag" src="img/flag/myanmar-flag.png" />INTERNATIONAL GEMOLOGICAL RESEARCH LABORATORY<br />
                    A: 118, BoGyoke St, Myoma Quarter, Mogok, Myanmar<br />
                    T: +95 9 797 777994<br />
                    E: <a class="emailLink" href="mailto:info@igrl-gemlab.com" target="_top">info@igrl-gemlab.com</a><br />
                    H: Mon - Fri: 10am - 5pm<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;Saturday: Appointment Required<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;Sunday: Closed
                </p>
            </b-col>
        </b-row>
        <div class="footer pt-3" style="margin-bottom: 0px; padding-bottom: 1rem;">
            <p font16 center>International Gemological Research Laboratory (M) Sdn. Bhd. © All rights reserved.</p>
        </div>
    </div>
</template>

<script lang="ts">
    import '@/assets/css/bootstrap.carousel.css';
    import '@/assets/js/jquery.min';
    import '@/assets/js/bootstrap.min';
    import { Component, Vue } from 'vue-property-decorator';
    import { IReport } from '@/typings/store';

    @Component({
        name: 'home',
    })
    export default class Home extends Vue {
        protected isSearchLoading = false;
        protected referenceId = '';

        protected async mounted() {
            await this.$store.dispatch('loadReports');
        }

        protected search() {
            this.isSearchLoading = true;

            if (!this.$store.getters.isReportsLoad) {
                setTimeout(() => this.search(), 1000);
            } else {
                this.isSearchLoading = false;
                this.$store.dispatch('addCount');
                const result = this.$store.getters.reports.find((report: IReport) => report.reportId === this.referenceId);

                if (result) {
                    this.$router.push({path: `reports/${result.id}`});
                } else {
                    alert('Report not found!');
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    [font18] {
        font-size: 18px;
    }
    [font16] {
        font-size: 16px;
    }
    [font14] {
        font-size: 14px;
    }
    [font12] {
        font-size: 12px;
    }
    [red] {
        color: #ce2127;
    }
    [end] {
        text-align: end;
    }
    [center] {
        text-align: center;
    }
    [title] {
        color: #ce2127;
        font-size: 18px;
        font-weight: bold;
    }
    .flag {
        margin-top: -3px;
        margin-right: 3px;
        height: 14px;
    }
    table {
        font-size: 16px;
        width: 100%;
        border: 1px solid;
    }
    table > thead > tr > td {
        padding: 10px;
        width: 50%;
        border: 1px solid;
    }
    table > tbody > tr > td {
        padding: 10px;
        width: 50%;
        border: 1px solid;
    }
    #myCarousel {
        margin-right: -30px;
        margin-left: -30px;
        margin-top: -30px;
    }
    .carouselText {
        font-size: 26px;
    }
    .carouselButton {
        font-size: 20px;
        padding: 10px 30px;
    }
    .icon {
        font-size: 3rem;
        color: red;
        margin-top: 200%;
    }
    .input:focus {
        box-shadow: 0 0 5px rgba(206, 33, 39, 1);
        border-color: rgba(206, 33, 39, 1);
    }
    .verifyButton {
        padding: 10px 30px;
        background-color: #ce2127;
    }
    .verifyButton:hover {
        background-color: darken(#ce2127, 10%);
    }
    .footer {
        margin-right: -30px;
        margin-left: -30px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #ce2127;
        color: white;
    }
    .emailLink {
        color: #f7b945;
    }
</style>
