<template>
  <b-card :header="caption">
    <b-table :dark="dark" :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="captions" :current-page="currentPage" :per-page="perPage">
      <template slot="status" slot-scope="data">
        <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge>
      </template>
    </b-table>
    <nav>
      <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
    </nav>
  </b-card>
</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';

  @Component({
    name: 'c-table',
    inheritAttrs: false,
  })
  export default class Table extends Vue {
    @Prop({default: 'Table'})
    protected caption!: string;

    @Prop({default: false})
    protected hover!: boolean;

    @Prop({default: false})
    protected striped!: boolean;

    @Prop({default: false})
    protected bordered!: boolean;

    @Prop({default: false})
    protected small!: boolean;

    @Prop({default: false})
    protected fixed!: boolean;

    @Prop({default: () => []})
    protected tableData!: () => object[];

    @Prop({default: () => []})
    protected fields!: () => object[];

    @Prop({default: 5})
    protected perPage!: number;

    @Prop({default: false})
    protected dark!: boolean;

    protected currentPage: number = 1;

    get items() {
      const items =  this.tableData;
      return Array.isArray(items) ? items : items();
    }

    get totalRows() {
      return this.getRowCount();
    }

    get captions() {
      return this.fields;
    }

    protected getBadge(status: string) {
      return status === 'Active' ? 'success'
              : status === 'Inactive' ? 'secondary'
                      : status === 'Pending' ? 'warning'
                              : status === 'Banned' ? 'danger' : 'primary';
    }

    protected getRowCount() {
      return this.items.length;
    }
  }
</script>
