<template>
    <b-row>
        <b-col cols="12" lg="12">
            <b-card no-header>
                <template slot="header">
                    Report Field ID: <strong>{{ this.reportLabelId }}</strong>
                </template>
                <b-form>
                    <b-table striped small fixed responsive="sm" :items="items" thead-class="hidden_header">
                        <template slot="value" slot-scope="data">
                            <strong v-if="!isEditable(data.item.key) && data.item.key === keyLabel.label">{{data.item.value.v}}</strong>
                            <strong v-if="!isEditable(data.item.key) && (data.item.key === keyLabel.createdAt || data.item.key === keyLabel.updatedAt)">{{formatDate(data.item.value.v)}}</strong>
                            <b-form-group
                                    v-if="isEditable(data.item.key) && isTextInput(data.item.key)"
                                    :invalid-feedback="validationFeedback($v[data.item.value.k], error[data.item.value.k])"
                                    :state="validationState($v[data.item.value.k])">
                                <b-form-input :class="validationClass($v[data.item.value.k])" type="text" v-model="$v[data.item.value.k].$model" :placeholder="placeholder[data.item.value.k]"></b-form-input>
                            </b-form-group>
                        </template>
                    </b-table>
                    <p class="text-danger mb-4">{{errorMessage}}</p>
                </b-form>
                <template slot="footer">
                    <b-button variant="primary" :class="isEdit && submitButtonStyle" :disabled="(!isEdit && useInReport) || (isEdit && submitButtonDisabled)" @click="action">{{submitButtonText}}</b-button>
                    <b-button class="ml-3" @click="back">Back</b-button>
                    <b-button class="ml-3" variant="danger" :disabled="useInReport" @click="deleteConfirmationModal = true">delete</b-button>
                </template>
            </b-card>
        </b-col>
        <b-modal title="Delete Confirmation" v-model="deleteConfirmationModal" @ok="deleteRecord">
            Confirm delete this report label?
        </b-modal>
    </b-row>
</template>

<script lang="ts">
    import {Component} from 'vue-property-decorator';
    import {Validation} from '@/shared/validation';
    import {validations} from './Shared';
    import moment from 'moment';
    import {EReportLabelKeyLabel} from '@/typings/enum/display.enum';
    import { IDelete, IReport, IReportField, IReportLabel, IUpdate } from '@/typings/store';
    import { IReportLabelRequest } from '@/typings/backend';

    @Component({
        name: 'Detail',
        validations,
    })
    export default class Detail extends Validation {
        protected timeout: number | undefined;
        protected keyLabel = EReportLabelKeyLabel;

        protected reportLabelId = '';
        protected isEdit: boolean = false;
        protected deleteConfirmationModal: boolean = false;

        protected reportLabel: IReportLabel | undefined;
        protected errorMessage: string = '';
        protected label: string = '';

        protected error = {
            label: {
                required: 'Please enter report label',
            },
        };

        protected placeholder = {
            label: 'Enter report label',
        };

        protected async mounted() {
            this.reportLabelId = (this.$route.params as {id: string}).id;
            await this.$store.dispatch('loadReportLabels');
        }

        get items(): Array<{key: string, value: {k: string, v: string}}> {
            const notFound: Array<[string, string]> =
                this.$store.getters.isReportLabelsLoad ?
                    [['Report Label ID', 'Not found']] :
                    [['Report Label ID', 'Searching...']];
            const item = this.$store.getters.reportLabel(this.reportLabelId);
            if (item) {
                this.reportLabel = {
                    id: item.id,
                    label: item.label,
                    createdAt: item.createdAt,
                    updatedAt: item.updatedAt,
                };
            }

            const reportLabelDetails: Array<[string, string]> =
                this.reportLabel ? Object.entries(this.reportLabel) : notFound;
            return reportLabelDetails.filter((rl) => rl[0] !== 'id').map(([k, value]) => {
                if (k in EReportLabelKeyLabel) {
                    const key = k as keyof typeof EReportLabelKeyLabel;
                    return {key: EReportLabelKeyLabel[key], value: {k, v: value as string}};
                } else {
                    return {key: k, value: {k, v: value as string}};
                }
            });
        }

        get submitButtonText(): string {
            if (this.isEdit) {
                return 'Submit';
            } else {
                return 'Edit';
            }
        }

        get useInReport(): boolean {
            return this.$store.getters.reports.some((report: IReport) =>
                report.reportFields.some((field: IReportField) =>
                    field && field.reportLabel && field.reportLabel.id === this.reportLabelId));
        }

        protected isTextInput(key: string): boolean {
            if (key === EReportLabelKeyLabel.label) {

                return true;
            } else {
                return false;
            }
        }

        protected isEditable(key: string) {
            if (key === EReportLabelKeyLabel.createdAt ||
                key === EReportLabelKeyLabel.updatedAt) {

                return false;
            } else {
                return this.isEdit;
            }
        }

        protected back() {
            if (this.isEdit) {
                this.isEdit = false;
            } else {
                this.$router.go(-1);
            }
        }

        protected formatDate(dateString: string) {
            return moment(dateString).format('DD/MM/YYYY h:mma');
        }

        protected async action() {
            if (!this.isEdit) {
                clearTimeout(this.timeout);
                if (this.errorMessage) {
                    this.errorMessage = '';
                }

                this.label = this.reportLabel && this.reportLabel.label ? this.reportLabel.label : '';

                if (this.$v && this.$v.$reset) {
                    this.$v.$reset();
                }

                this.isLoading = false;
                this.isEdit = true;
            } else {
                if (this.$v && this.$v.$touch) {
                    this.$v.$touch();
                }

                if (this.$v && !this.$v.$invalid) {
                    this.isLoading = true;
                    const request: IUpdate<IReportLabelRequest> = {
                        id: this.reportLabelId,
                        data: {
                            label: this.label,
                        }, successCb: () => {
                            this.errorMessage = '';
                            this.isEdit = false;
                            this.isLoading = false;
                        }, errorCb: (error: string) => {
                            this.isLoading = false;
                            this.errorMessage = error;
                        },
                    };

                    await this.$store.dispatch('updateReportLabel', request);
                }
            }
        }

        protected async deleteRecord() {
            const request: IDelete = {
                id: this.reportLabelId,
                successCb: () => this.$router.replace({path: '/reportLabels'}),
                errorCb: (error: string) => {
                    this.errorMessage = error;
                    this.timeout = setTimeout(() => {
                        if (this.errorMessage) {
                            this.errorMessage = '';
                        }
                    }, 10000);
                },
            };
            await this.$store.dispatch('deleteReportLabel', request);
        }
    }
</script>

<style>
    .hidden_header {
        display: none;
    }
</style>
