<template>
    <b-row>
        <b-col cols="12" xl="12">
            <transition name="slide">
                <b-card no-header>
                    <template slot="header">
                        Report Fields <router-link class="ml-2 link" to="/reportLabels/create"><i class="icon-plus"></i></router-link>
                    </template>
                    <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" @row-clicked="rowClicked">
                        <template slot="createdAt" slot-scope="data">
                            {{formatDate(data.item.createdAt)}}
                        </template>
                        <template slot="updatedAt" slot-scope="data">
                            {{formatDate(data.item.updatedAt)}}
                        </template>
                    </b-table>
                    <nav>
                        <b-pagination size="sm" :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
                    </nav>
                </b-card>
            </transition>
        </b-col>
    </b-row>
</template>

<script lang="ts">
    import { Component, Prop } from 'vue-property-decorator';
    import { Vue } from 'vue-property-decorator';
    import moment from 'moment';
    import { IProductType } from '@/typings/store';
    import { IField } from '@/typings/display';

    @Component({
        name: 'List',
    })
    export default class List extends Vue {
        @Prop({default: true})
        protected hover!: boolean;

        @Prop({default: true})
        protected striped!: boolean;

        @Prop({default: false})
        protected bordered!: boolean;

        @Prop({default: false})
        protected small!: boolean;

        @Prop({default: false})
        protected fixed!: boolean;

        protected items: IProductType[] = [];
        protected fields: IField[] = [
            {key: 'label'},
            {key: 'createdAt'},
            {key: 'updatedAt'},
        ];
        protected currentPage: number = 1;
        protected perPage: number = 5;
        protected totalRows: number = 0;

        protected async mounted() {
            await this.$store.dispatch('loadReportLabels');
            this.items = this.$store.getters.reportLabels ?
                this.$store.getters.reportLabels :
                [];
        }

        protected getRowCount(items: IProductType[]) {
            return items.length;
        }

        protected reportLabelLink(id?: string) {
            if (id) {
                return `reportLabels/${id}`;
            } else {
                return `home`;
            }
        }

        protected rowClicked(item: IProductType) {
            const reportLabelLink = this.reportLabelLink(item.id);
            this.$router.push({path: reportLabelLink});
        }

        protected formatDate(dateString: string) {
            return moment(dateString).format('DD/MM/YYYY h:mma');
        }
    }
</script>

<style scoped>
    .card-body >>> table > tbody > tr > td {
        cursor: pointer;
    }
    .link {
        text-decoration: none;
        font-size: 16px;
    }
</style>
