<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <b-form>
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <b-input-group class="mb-3">
                    <b-input-group-prepend><b-input-group-text><i class="icon-user"></i></b-input-group-text></b-input-group-prepend>
                    <b-form-input type="text" class="form-control" placeholder="Username" autocomplete="username email" v-model="email" @keyup="keyUpSubmit" />
                  </b-input-group>
                  <b-input-group class="mb-4">
                    <b-input-group-prepend><b-input-group-text><i class="icon-lock"></i></b-input-group-text></b-input-group-prepend>
                    <b-form-input type="password" class="form-control" placeholder="Password" autocomplete="current-password" v-model="password" @keyup="keyUpSubmit" />
                  </b-input-group>
                  <p class="text-danger mb-4">{{errorMessage}}</p>
                  <b-row>
                    <b-col cols="6">
                      <b-button variant="primary" class="px-4" @click="login">Login</b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import { setUser } from '@/shared/security';

  @Component({
    name: 'login',
  })
  export default class Login extends Vue {
    protected email: string = '';
    protected password: string = '';
    protected errorMessage: string = '';

    protected async keyUpSubmit(event: {key: string}) {
      if (event.key === 'Enter' && this.email && this.password) {
        this.login();
      }
    }

    protected async login() {
      if (this.email === 'staff@igrl.com' && this.password === 'G3mston3') {
        const userInfo: IUserInfo = {
          email: 'staff@igrl.com',
          type: 'staff',
          roles: ['admin'],
          createdDate: new Date(),
        };
        setUser(userInfo);
        localStorage.setItem('userInfo', JSON.stringify(userInfo));
        this.$router.replace({name: 'Home'});
      } else if (this.email === 'guest@igrl.com' && this.password === 'G3mston3') {
        const userInfo: IUserInfo = {
          email: 'guest@igrl.com',
          type: 'customer',
          roles: ['guest'],
          createdDate: new Date(),
        };
        setUser(userInfo);
        localStorage.setItem('userInfo', JSON.stringify(userInfo));
        this.$router.replace({name: 'Home'});
      } else {
        this.errorMessage = 'Invalid login credential';
      }
    }
  }
</script>
