<template>
    <div class={classes}>
        <div class={classCardHeader}>
            <i class={icon}></i>
            {children}
        </div>
        <div class={classCardBody}>
            <div>
                <div class="text-value">{vals[1]}</div>
                <div class="text-uppercase text-muted small">{keys[1]}</div>
            </div>
            <div>
                <div class="text-value">{vals[2]}</div>
                <div class="text-uppercase text-muted small">{keys[2]}</div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';

    @Component({
        name: 'Widget03',
    })
    export default class Widget03 extends Vue {
        @Prop({default: true})
        protected value!: boolean;
    }
</script>

