<template>
  <b-row>
    <b-col cols="12" lg="6">
      <b-card no-header>
        <template slot="header">
          User id:  {{ $route.params.id }}
        </template>
        <b-table striped small fixed responsive="sm" :items="items($route.params.id)" :fields="fields">
          <template slot="value" slot-scope="data">
            <strong>{{data.item.value}}</strong>
          </template>
        </b-table>
        <template slot="footer">
          <b-button @click="goBack">Back</b-button>
        </template>
      </b-card>
    </b-col>
  </b-row>
</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import Router from 'vue-router';
  import usersData from './UsersData';

  @Component({
    name: 'user',
  })
  export default class User extends Vue {
    @Prop({default: 'User id'})
    protected caption!: string;

    protected fields: Array<{key: string}> = [
      {key: 'key'},
      {key: 'value'},
    ];

    protected items(id: string): Array<{key: string, value: string | number}> {
      const user = usersData.find((userData) => userData.id.toString() === id);
      const userDetails: Array<[string, (string | number)]> = user ? Object.entries(user) : [['id', 'Not found']];
      return userDetails.map(([key, value]) => {
        return { key, value };
      });
    }

    protected goBack() {
      (this.$router as Router).go(-1);
      // this.$router.replace({path: '/users'})
    }
  }
</script>
