<template>
  <b-row>
    <b-col cols="12" xl="6">
      <transition name="slide">
        <b-card :header="caption">
          <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" @row-clicked="rowClicked">
            <template slot="id" slot-scope="data">
              <strong>{{data.item.id}}</strong>
            </template>
            <template slot="name" slot-scope="data">
              <strong>{{data.item.name}}</strong>
            </template>
            <template slot="status" slot-scope="data">
              <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge>
            </template>
          </b-table>
          <nav>
            <b-pagination size="sm" :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
          </nav>
        </b-card>
      </transition>
    </b-col>
  </b-row>
</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';
  import Router from 'vue-router';
  import usersData from './UsersData';
  import { IField, IUserData } from '@/typings/display';

  @Component({
    name: 'users',
  })
  export default class Users extends Vue {
    @Prop({default: 'Users'})
    protected caption!: string;

    @Prop({default: true})
    protected hover!: boolean;

    @Prop({default: true})
    protected striped!: boolean;

    @Prop({default: false})
    protected bordered!: boolean;

    @Prop({default: false})
    protected small!: boolean;

    @Prop({default: false})
    protected fixed!: boolean;

    protected items: IUserData[] = usersData.filter((user) => user.id < 42);
    protected fields: IField[] = [
        {key: 'id'},
        {key: 'name'},
        {key: 'registered'},
        {key: 'role'},
        {key: 'status'},
    ];
    protected currentPage: number = 1;
    protected perPage: number = 5;
    protected totalRows: number = 0;

    protected getBadge(status: string) {
      return status === 'Active' ? 'success'
              : status === 'Inactive' ? 'secondary'
                      : status === 'Pending' ? 'warning'
                              : status === 'Banned' ? 'danger' : 'primary';
    }

    protected getRowCount(items: IUserData[]) {
      return items.length;
    }

    protected userLink(id: string) {
      return `users/${id}`;
    }

    protected rowClicked(item: IUserData) {
      const userLink = this.userLink(item.id.toString());
      (this.$router as Router).push({path: userLink});
    }
  }
</script>

<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
  }
</style>
