<template>
  <AppHeaderDropdown right no-caret>
    <template slot="header">
      <img
        src="@/assets/img/profile.png"
        class="img-avatar"
        alt="Settings" />
    </template>
    <template slot="dropdown">
      <b-dropdown-header
        tag="div"
        class="text-center">
        <strong>Settings</strong>
      </b-dropdown-header>
      <b-dropdown-item><i class="fa fa-key" /> ChangePassword</b-dropdown-item>
      <b-dropdown-item @click="logout"><i class="fa fa-lock" /> Logout</b-dropdown-item>
    </template>
  </AppHeaderDropdown>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import { HeaderDropdown as AppHeaderDropdown } from '@coreui/vue';
  import { setUser } from '@/shared/security';

  @Component({
    name: 'DefaultHeaderDropdownAccnt',
    components: {
      AppHeaderDropdown,
    },
  })
  export default class DefaultHeaderDropdownAccnt extends Vue {
    private itemsCount: number = 42;

    protected logout() {
      setUser(undefined);
      localStorage.removeItem('userInfo');
      this.$router.replace({name: 'Login'});
    }
  }
</script>
