<template>
  <div class="app">
    <AppHeader fixed>
      <SidebarToggler v-if="isAuth()" class="d-lg-none leftNav" display="md" mobile />
      <b-link class="navbar-brand" to="#">
        <img class="navbar-brand-full" src="@/assets/img/logo.png" width="100" height="43" alt="IGRL - International Gemological Research Laboratory Logo">
        <img class="navbar-brand-minimized" src="@/assets/img/brand/sygnet.svg" width="30" height="30" alt="IGRL - International Gemological Research LaboratoryLogo">
      </b-link>
      <SidebarToggler v-if="isAuth()" class="d-md-down-none" display="lg" />
      <b-navbar-nav v-if="$route.path === '/home'" class="d-md-down-none">
        <b-nav-item class="px-3" v-scroll-to="'body'">Home</b-nav-item>
        <b-nav-item class="px-3" v-scroll-to="{el: '#services', offset: -60}">Services</b-nav-item>
        <b-nav-item class="px-3" v-scroll-to="{el: '#pricing', offset: -60}">Pricing</b-nav-item>
        <b-nav-item class="px-3" v-scroll-to="{el: '#reportCheck', offset: -60}">Report Check</b-nav-item>
        <b-nav-item class="px-3" v-scroll-to="{el: '#contactUs', offset: -60}">Contact Us</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav v-if="$route.path === '/home'" class="md" style="margin:55px auto">
        <b-nav-item class="px-3" v-scroll-to="'body'">Home</b-nav-item>
        <b-nav-item class="px-3" v-scroll-to="{el: '#services', offset: -90}">Services</b-nav-item>
        <b-nav-item class="px-3" v-scroll-to="{el: '#pricing', offset: -90}">Pricing</b-nav-item>
        <b-nav-item class="px-3" v-scroll-to="{el: '#reportCheck', offset: -90}">Report Check</b-nav-item>
        <b-nav-item class="px-3" v-scroll-to="{el: '#contactUs', offset: -90}">Contact Us</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav v-if="$route.path === '/home'" class="sm" style="margin:55px auto; margin-bottom: 0px;">
        <b-nav-item class="px-3" v-scroll-to="'body'">Home</b-nav-item>
        <b-nav-item class="px-3" v-scroll-to="{el: '#services', offset: -105}">Services</b-nav-item>
        <b-nav-item class="px-3" v-scroll-to="{el: '#pricing', offset: -105}">Pricing</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav v-if="$route.path === '/home'" class="sm" style="margin:0 auto">
        <b-nav-item class="px-3" v-scroll-to="{el: '#reportCheck', offset: -105}">Report Check</b-nav-item>
        <b-nav-item class="px-3" v-scroll-to="{el: '#contactUs', offset: -105}">Contact Us</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav v-if="$route.path === '/home'" class="xs" style="margin:55px auto; margin-bottom: 0px;">
        <b-nav-item class="px-3" v-scroll-to="'body'">Home</b-nav-item>
        <b-nav-item class="px-3" v-scroll-to="{el: '#services', offset: -120}">Services</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav v-if="$route.path === '/home'" class="xs" style="margin:0 auto">
        <b-nav-item class="px-3" v-scroll-to="{el: '#pricing', offset: -120}">Pricing</b-nav-item>
        <b-nav-item class="px-3" v-scroll-to="{el: '#reportCheck', offset: -120}">Report Check</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav v-if="$route.path === '/home'" class="xs" style="margin:0 auto">
        <b-nav-item class="px-3" v-scroll-to="{el: '#contactUs', offset: -120}">Contact Us</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav v-if="$route.path === '/home'" class="xxs" style="margin:55px auto; flex-direction: column;">
        <b-nav-item class="px-3" v-scroll-to="'body'">Home</b-nav-item>
        <b-nav-item class="px-3" v-scroll-to="{el: '#services', offset: -160}">Services</b-nav-item>
        <b-nav-item class="px-3" v-scroll-to="{el: '#pricing', offset: -160}">Pricing</b-nav-item>
        <b-nav-item class="px-3" v-scroll-to="{el: '#reportCheck', offset: -160}">Report Check</b-nav-item>
        <b-nav-item class="px-3" v-scroll-to="{el: '#contactUs', offset: -160}">Contact Us</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto rightNav">
        <DefaultHeaderDropdownAccnt v-if="isAuth()" />
      </b-navbar-nav>
    </AppHeader>
    <div class="app-body">
      <AppSidebar v-if="isAuth()" fixed>
        <SidebarHeader/>
        <SidebarForm/>
        <SidebarNav :navItems="nav"></SidebarNav>
        <SidebarFooter/>
        <SidebarMinimizer/>
      </AppSidebar>
      <main class="main">
        <Breadcrumb v-if="isAuth()" :list="list"/>
        <div :class="isAuth() ? 'container-fluid' : 'mt-3 container-fluid'">
          <router-view :key="$route.fullPath"></router-view>
        </div>
      </main>
      <AppAside fixed>
        <!--aside-->
        <DefaultAside/>
      </AppAside>
    </div>
    <TheFooter v-if="$route.path !== '/home'">
      <!--footer-->
      <div>
        <a href="http://report.igrl-gemlab.com">IGRL</a>
        <span class="ml-1">&copy; 2019 International Gemological Research Laboratory.</span>
      </div>
      <div class="ml-auto">
        <span class="mr-1">Powered by</span>
        <a href="http://report.igrl-gemlab.com">IGRL</a>
      </div>
    </TheFooter>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import nav from '../dashboard/_nav';
  import {
    Header as AppHeader,
    SidebarToggler,
    Sidebar as AppSidebar,
    SidebarFooter,
    SidebarForm,
    SidebarHeader,
    SidebarMinimizer,
    SidebarNav,
    Aside as AppAside,
    AsideToggler,
    Footer as TheFooter,
    Breadcrumb } from '@coreui/vue';

  import DefaultAside from './DefaultAside.vue';
  import DefaultHeaderDropdownAccnt from './DefaultHeaderDropdownAccnt.vue';
  import { isAuth } from '@/shared/security';

  @Component({
    name: 'DefaultContainer',
    components: {
      AsideToggler,
      AppHeader,
      AppSidebar,
      AppAside,
      TheFooter,
      Breadcrumb,
      DefaultAside,
      DefaultHeaderDropdownAccnt,
      SidebarForm,
      SidebarFooter,
      SidebarToggler,
      SidebarHeader,
      SidebarNav,
      SidebarMinimizer,
    },
  })
  export default class DefaultContainer extends Vue {
    protected isAuth = isAuth;
    protected nav = nav.items;

    get name() {
      return this.$route.name;
    }

    get list() {
      return this.$route.matched.filter((route) => route.name || route.meta.label );
    }
  }
</script>

<style scoped>
  .navbar-nav .nav-link {
    color: #ce2127;
  }
  .container-fluid {
    margin-top: 30px !important;
  }
  @media (min-width: 991.99px) {
    .md {
      display: none;
    }
    .sm {
      display: none;
    }
    .xs {
      display: none;
    }
    .xxs {
      display: none;
    }
  }
  @media (max-width: 991.98px) {
    .app-header {
      height: 85px;
    }
    .app-body {
      margin-top: 85px;
    }
    .leftNav {
      position: absolute;
    }
    .rightNav {
      margin-left:0px !important;
      position: absolute;
      right: 0px;
    }
    .md {
      display: flex;
    }
    .sm {
      display: none;
    }
    .xs {
      display: none;
    }
    .xxs {
      display: none;
    }
  }
  @media (max-width: 503.98px) {
    .app-header {
      height: 105px;
    }
    .app-body {
      margin-top: 105px;
    }
    .md {
      display: none;
    }
    .sm {
      display: flex;
    }
    .xs {
      display: none;
    }
    .xxs {
      display: none;
    }
  }
  @media (max-width: 254.98px) {
    .app-header {
      height: 120px;
    }
    .app-body {
      margin-top: 120px;
    }
    .md {
      display: none;
    }
    .sm {
      display: none;
    }
    .xs {
      display: flex;
    }
    .xxs {
      display: none;
    }
  }
  @media (max-width: 226.98px) {
    .app-header {
      height: 160px;
    }
    .app-body {
      margin-top: 160px;
    }
    .md {
      display: none;
    }
    .sm {
      display: none;
    }
    .xs {
      display: none;
    }
    .xxs {
      display: flex;
    }
  }
</style>
